<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'nice', :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :name %>
  <%= f.text_field :name, class: 'input-text' %></div>
  
  <div><%= f.label :email %>
  <%= f.email_field :email, class: 'input-text' %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off", class: 'input-text' %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'input-text' %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password, class: 'input-text' %></div>

  <div><%= f.submit "Update", class: 'nice medium radius blue button' %></div>
<% end %>

<h3>Cancel My Account</h3>
<br />
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
