<%= form_for(@user, html: {class: 'nice'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Enter user\'s name', class: 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'User\'s email address', class: 'input-text' %>
  </div>
  <!--
  <div class="field">
    <%= f.label :household %>
    <%= f.collection_select(:household_id, Household.all, :id, :address, 
    	{:prompt => true}, 
    	{"style" => "width:200px"})%>
  </div>
-->
  <div class="actions"><p>
    <%= f.submit class: 'nice medium radius blue button'%></p>
  </div>
<% end %>


