<h2>Users</h2>

<table width="100%">
<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Household</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @users.each do |user| %>
  <tr>
  	<!-- <td><%= check_box_tag(user) %></td> -->
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <% if user.household %>
		<td><%= user.household.address %></td>
		<!--<td><%= link_to user.household.address, user.household %></td>-->
	<% else %>
		<td></td>
	<% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<!--<%= link_to 'New User', new_user_path, class: 'nice small radius white button' %>-->
