<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Household:</b>
  
  
  <% if @user.household %>
  		<%= @user.household.address %>
		<!--<%= link_to @user.household.address, @user.household %>-->
	<% else %>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user), class: 'nice small radius white button' %>
<%= link_to 'Back', users_path, class: 'nice small radius white button' %>
