<h2>Purchases</h2>

<% if @purchases.length > 0 %>

	<table class="purchases">
	<thead>
	  <tr>
	    <th>Description</th>
	    <th>Amount</th>
	    <!--<th>User</th>-->
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
	<% @purchases.each do |purchase| %>
	  <tr>
	  	<!--<td><%= check_box_tag(purchase) %></td>-->
	    <td><%= purchase.description %></td>
	    <td><%= number_to_currency purchase.amount %></td>
	    <!--<td><%= link_to purchase.user.name, purchase.user %></td>-->
	    <td><%= link_to 'Show', purchase %></td>
	    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
	    <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
	    
	  </tr>
	<% end %>
	</tbody>
	</table>

	<%= link_to 'New Purchase', new_purchase_path, class: 'nice small radius white button', id: 'new-purchase-link' %>

<% else %>
	<h5>
		You currently do not have any recorded purchases. 
		<%= link_to 'Make one now.', new_purchase_path, id: 'new-purchase-link' %>
	</h5>

<% end %>
