<p>
  <b>Description:</b>
  <%= @purchase.description %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency @purchase.amount %>
</p>

<p>
  <b>User:</b>
  <!--<%= link_to @purchase.user.name, @purchase.user %>-->
  <%= @purchase.user.name %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase), class: 'nice small radius white button' %>
<%= link_to 'Back', purchases_path, class: 'nice small radius white button' %>
