<!DOCTYPE html>
<html>
<head>
  <title>Expense App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<% if user_signed_in? %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
		<div class="row">
		  <div class="eight columns">
		    <%= yield %>
		  </div>
		  <div class="four columns">
			  <%= render 'household' %>
		  </div>
		</div>
    
	<% else %>
	  <%= yield %>
	  <br /><br />
      <button class='nice small radius blue button'>About</button>
      <div class="aabout" style="display: none">Expense Tracker is a useful and convenient solution to managing your day-to-day expenses.<br />
      Developed for CIS 196: Ruby on Rails Web Development. <br />
      Jay Paik</div>
	<% end %>
	
</div>

  <!-- Included JS Files -->
	<script src="/assets/foundation.js"></script>
	<script src="/assets/app.js"></script>

</body>
</html>
