<h2>Households</h2>

<table width="100%">
<thead>
  <tr>
    <th>Address</th><!--
    <th></th>
    <th></th>
    <th></th>-->
  </tr>
<thead>
<tbody>
<% @households.each do |household| %>
  <tr>
    <!-- <td><%= check_box_tag(household) %></td> -->
    <td><%= household.address %></td>
    <!--
    <td><%= link_to 'Show', household %></td>
    <td><%= link_to 'Edit', edit_household_path(household) %></td>
    <td><%= link_to 'Destroy', household, confirm: 'Are you sure?', method: :delete %></td>
	-->
  </tr>
<% end %>
</tbody>
</table>

<br />

<!--<%= link_to 'New Household', new_household_path, class: 'nice small radius white button' %>-->

